services:
  xashds:
    image: snmetamorph/xashds-hldm:latest
    build:
      context: .
      dockerfile: ./Dockerfile
    container_name: xashds-hldm
    restart: always
    tty: true
    stdin_open: true
    command: +map crossfire
    ports:
      - '27015:27015/udp'
